<% layout("layouts/boilerplate"); %>

<h1>The Trail is Calling...</h1>
<article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, illo, qui maiores natus reprehenderit sed neque error at ducimus impedit velit consequuntur fugit aperiam quo, voluptatum. Totam dolorum fuga, aliquid?</article>
<br />
<a href="/trails"><button class="btn btn-success btn-sm">Answer the Call</button></a>
